%tr.build
  %td.status
    = ci_status_with_icon(build.status)

  %td.commit_status-link
    - if build.target_url
      = link_to build.target_url do
        %strong 构建 ##{build.id}
    - else
      %strong 构建 ##{build.id}

    - if build.show_warning?
      %i.fa.fa-warning.text-warning

  %td
    = link_to build.short_sha, namespace_project_commit_path(@project.namespace, @project, build.sha)

  %td
    = link_to build.ref, namespace_project_commits_path(@project.namespace, @project, build.ref)

  %td
    - if build.runner
      = runner_link(build.runner)
    - else
      .light 无

  %td
    = build.name

    .pull-right
      - if build.tags.any?
        - build.tags.each do |tag|
          %span.label.label-primary
            = tag
      - if build.trigger_request
        %span.label.label-info 被触发
      - if build.allow_failure
        %span.label.label-danger 允许失败

  %td.duration
    - if build.duration
      #{duration_in_words(build.finished_at, build.started_at)}

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at}之前

  %td
    .pull-right
      - if current_user && can?(current_user, :manage_builds, @project)
        - if build.cancel_url
          = link_to build.cancel_url, title: '取消' do
            %i.fa.fa-remove.cred
