- page_title "构建"
- header_title project_title(@project, "构建", project_builds_path(@project))

.project-issuable-filter
  .controls
    - if @ci_project && current_user && can?(current_user, :manage_builds, @project)
      .pull-left.hidden-xs
        - if @all_builds.running_or_pending.any?
          = link_to '取消全部', cancel_all_namespace_project_builds_path(@project.namespace, @project), data: { confirm: '确定要继续么？' }, class: 'btn btn-danger'

  %ul.center-top-menu
    %li{class: ('active' if @scope.nil?)}
      = link_to project_builds_path(@project) do
        正在运行
        %span.badge.js-running-count= @all_builds.running_or_pending.count(:id)

    %li{class: ('active' if @scope == 'finished')}
      = link_to project_builds_path(@project, scope: :finished) do
        已完成
        %span.badge.js-running-count= @all_builds.finished.count(:id)

    %li{class: ('active' if @scope == 'all')}
      = link_to project_builds_path(@project, scope: :all) do
        全部
        %span.badge.js-totalbuilds-count= @all_builds.count(:id)

.gray-content-block
  列出本项目 #{@scope || 'running'} 的构建

%ul.content-list
  - if @builds.blank?
    %li
      .nothing-here-block 没有可显示的构建
  - else
    %table.table.builds
      %thead
        %tr
          %th 状态
          %th 构建 ID
          %th 提交
          %th 参考
          %th Runner
          %th 名称
          %th 运行时间
          %th 完成时间
          %th

      - @builds.each do |build|
        = render 'projects/builds/build', build: build

    = paginate @builds

