- page_title "问题"
- header_title  "问题", issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, issues_dashboard_url(format: :atom, private_token: current_user.private_token), title: "#{current_user.name} 问题")


.append-bottom-20
  .pull-right
    - if current_user
      .hidden-xs.pull-left.prepend-top-20
        = link_to issues_dashboard_url(format: :atom, private_token: current_user.private_token), class: '' do
          %i.fa.fa-rss

  = render 'shared/issuable/filter', type: :issues

= render 'shared/issues'
