- page_title    "群组"
- header_title  "群组", dashboard_groups_path

- if current_user
  = render 'dashboard/groups_head'
- else
  = render 'explore/head'

.gray-content-block.clearfix
  .pull-left
    = form_tag explore_groups_path, method: :get, class: 'form-inline form-tiny' do |f|
      = hidden_field_tag :sort, @sort
      .form-group
        = search_field_tag :search, params[:search], placeholder: "按名称过滤", class: "form-control search-text-input", id: "groups_search", spellcheck: false
      .form-group
        = button_tag '搜索', class: "btn btn-default"

  .pull-right
    .dropdown.inline
      %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span.light 排序：
        - if @sort.present?
          = sort_options_hash[@sort]
        - else
          = sort_title_recently_created
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_groups_path(sort: sort_value_recently_created) do
            = sort_title_recently_created
          = link_to explore_groups_path(sort: sort_value_oldest_created) do
            = sort_title_oldest_created
          = link_to explore_groups_path(sort: sort_value_recently_updated) do
            = sort_title_recently_updated
          = link_to explore_groups_path(sort: sort_value_oldest_updated) do
            = sort_title_oldest_updated

%ul.content-list
  - @groups.each do |group|
    = render 'shared/groups/group', group: group
  - unless @groups.present?
    .nothing-here-block 没有公开群组


= paginate @groups, theme: "gitlab"
