%table.table#audits
  %thead
    %tr
      %th 动作
      %th 发生时间

  %tbody
    - events.each do |event|
      %tr
        %td
          %span
            使用 
            %b= event.details[:with]
            认证登入
        %td #{time_ago_in_words event.created_at} 之前
= paginate events, theme: "gitlab"
