- if @status
  %p
    %b 状态：
    语法正确
    %i.fa.fa-ok.correct-syntax

  %table.table.table-bordered
    %thead
      %tr
        %th 参数
        %th 值
    %tbody
      - @stages.each do |stage|
        - @builds.select { |build| build[:stage] == stage }.each do |build|
          %tr
            %td #{stage.capitalize} 作业 - #{build[:name]}
            %td
              %pre
                = simple_format build[:commands]

              %br
              %b 标签列表：
              = build[:tags]
              %br
              %b 仅供 Refs：
              = build[:only] && build[:only].join(", ")
              %br
              %b 排除 Refs：
              = build[:except] && build[:except].join(", ")
              %br
              %b 当：
              = build[:when]
              - if build[:allow_failure]
                %b 允许失败

-else
  %p
    %b 状态：
    语法错误
    %i.fa.fa-remove.incorrect-syntax
  %b 错误：
  = @error

    
