- page_title @snippet.title, "代码片段"
%h4.page-title
  = @snippet.title

  - if @snippet.private?
    %span.label.label-success
      %i.fa.fa-lock
      私有

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-sm", title: "新代码片段" do
      增加新的代码片段

.append-bottom-10.prepend-top-10
  .pull-right
    %span.light
      属于
      = link_to user_snippets_path(@snippet.author) do
        = @snippet.author_name

  .back-link
    - if @snippet.author == current_user
      = link_to dashboard_snippets_path do
        &larr; 你的代码片段
    - else
      = link_to explore_snippets_path do
        &larr; 浏览代码片段

.file-holder
  .file-title
    %i.fa.fa-file
    %strong
      = @snippet.file_name
    .file-actions
      .btn-group
        - if can?(current_user, :update_personal_snippet, @snippet)
          = link_to "编辑", edit_snippet_path(@snippet), class: "btn btn-sm", title: '编辑代码片段'
        = link_to "原文件", raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank"
      - if can?(current_user, :admin_personal_snippet, @snippet)
        = link_to "删除", snippet_path(@snippet), method: :delete, data: { confirm: "确定要继续么？" }, class: "btn btn-sm btn-remove", title: '删除代码片段'
  = render 'shared/snippets/blob'
