<h2>重新发送解锁指令</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "重新发送解锁指令" %></div>
<% end %>

<%= render partial: "devise/shared/links" %>
