- page_title    "代码片段"
- header_title  "代码片段", snippets_path

- if current_user
  = render 'dashboard/snippets_head'
- else
  = render 'explore/head'

.gray-content-block
  - if current_user
    .pull-right
      = link_to new_snippet_path, class: "btn btn-new", title: "新代码片段" do
        增加新的代码片段

  .oneline
    你和其他用户创建的公开代码片段都会显示在这里

= render 'snippets/snippets'
