%h3.page-title
  触发器

%p.light
  触发器被 API 调用用于强制重新构建指定的分支或标签。

%hr.clearfix

-if @triggers.any?
  %table.table
    %thead
      %th 授权
      %th 最后使用
      %th
    = render partial: 'trigger', collection: @triggers, as: :trigger
- else
  %h4 没有触发器

= form_for @trigger, url: url_for(controller: 'projects/triggers', action: 'create'), html: { class: 'form-horizontal' } do |f|
  .clearfix
    = f.submit "增加触发器", class: 'btn btn-success pull-right'

%hr.clearfix

-if @triggers.any?
  %h3
    使用 CURL

  %p.light
    Copy the token above and set your branch or tag name. This is the reference that will be rebuild.


  %pre
    :plain
      curl -X POST \
           -F token=TOKEN \
           #{ci_build_trigger_url(@ci_project.id, 'REF_NAME')}
  %h3
    使用 .gitlab-ci.yml

  %p.light
    Copy the snippet to
    %i .gitlab-ci.yml
    of dependent project.
    At the end of your build it will trigger this project to rebuilt.

  %pre
    :plain
      trigger:
        type: deploy
        script:
          - "curl -X POST -F token=TOKEN #{ci_build_trigger_url(@ci_project.id, 'REF_NAME')}"
  %h3
    通过构建变量传递

  %p.light
    Add
    %strong variables[VARIABLE]=VALUE
    to API request.
    The value of variable could then be used to distinguish triggered build from normal one.

  %pre
    :plain
      curl -X POST \
           -F token=TOKEN \
           -F "variables[RUN_NIGHTLY_BUILD]=true" \
           #{ci_build_trigger_url(@ci_project.id, 'REF_NAME')}
