- page_title @application.name, "应用"
%h3.page-title
  应用：#{@application.name}


%table.table
  %tr
    %td
      应用 Id
    %td
      %code#application_id= @application.uid
  %tr
    %td
      密匙：
    %td
      %code#secret= @application.secret

  %tr
    %td
      回调链接
    %td
      - @application.redirect_uri.split.each do |uri|
        %div
          %span.monospace= uri
.form-actions
  = link_to '编辑', edit_oauth_application_path(@application), class: 'btn btn-primary wide pull-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'
