.btn-group.tree-btn-group
  = edit_blob_link(@project, @ref, @path)
  = link_to '原文件', namespace_project_raw_path(@project.namespace, @project, @id),
      class: 'btn btn-sm', target: '_blank'
  -# only show normal/blame view links for text files
  - if @blob.text?
    - if current_page? namespace_project_blame_path(@project.namespace, @project, @id)
      = link_to '普通视图', namespace_project_blob_path(@project.namespace, @project, @id),
          class: 'btn btn-sm'
    - else
      = link_to '审查', namespace_project_blame_path(@project.namespace, @project, @id),
          class: 'btn btn-sm' unless @blob.empty?
  = link_to '历史', namespace_project_commits_path(@project.namespace, @project, @id),
      class: 'btn btn-sm'
  - if @ref != @commit.sha
    = link_to '永久链接', namespace_project_blob_path(@project.namespace, @project,
        tree_join(@commit.sha, @path)), class: 'btn btn-sm'

- if allowed_tree_edit?
  .btn-group{ role: "group" }
    %button.btn.btn-default{ 'data-target' => '#modal-upload-blob', 'data-toggle' => 'modal' } 替换
    %button.btn.btn-remove{ 'data-target' => '#modal-remove-blob', 'data-toggle' => 'modal' } 删除
