%ul.nav.nav-tabs
  = nav_link(action: :show) do
    = link_to '贡献者', namespace_project_graph_path
  = nav_link(action: :commits) do
    = link_to '提交', commits_namespace_project_graph_path
  - if @project.gitlab_ci?
    = nav_link(action: :ci) do
      = link_to ci_namespace_project_graph_path do
        持续集成
