- page_title "持续集成", "图表"
= render "header_title"
= render 'head'
#charts.ci-charts
  = render 'projects/graphs/ci/builds'
  = render 'projects/graphs/ci/build_times'
= render 'projects/graphs/ci/overall'
