.milestones-filters
  %ul.center-top-menu
    %li{class: ("active" if params[:state].blank? || params[:state] == 'opened')}
      = link_to milestones_filter_path(state: 'opened') do
        未关闭
    %li{class: ("active" if params[:state] == 'closed')}
      = link_to milestones_filter_path(state: 'closed') do
        已关闭
    %li{class: ("active" if params[:state] == 'all')}
      = link_to milestones_filter_path(state: 'all') do
        所有
