- page_title "Bitbucket 导入"
%h3.page-title
  %i.fa.fa-bitbucket
  从 Bitbucket 导入项目

- if @repos.any?
  %p.light
    选择要导入的项目。
  %hr
  %p
  - if @incompatible_repos.any?
    = button_tag '导入所有兼容项目', class: "btn btn-success js-import-all"
  - else
    = button_tag '导入所有项目', class: "btn btn-success js-import-all"


%table.table.import-jobs
  %thead
    %tr
      %th 从 Bitbucket
      %th 到 GitLab
      %th 状态
  %tbody
    - @already_added_projects.each do |project|
      %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
        %td
          = link_to project.import_source, "https://bitbucket.org/#{project.import_source}", target: "_blank"
        %td
          %strong= link_to project.path_with_namespace, [project.namespace.becomes(Namespace), project]
        %td.job-status
          - if project.import_status == 'finished'
            %span
              %i.fa.fa-check
              完成
          - elsif project.import_status == 'started'
            %i.fa.fa-spinner.fa-spin
            已开始
          - else
            = project.human_import_status_name

    - @repos.each do |repo|
      %tr{id: "repo_#{repo["owner"]}___#{repo["slug"]}"}
        %td
          = link_to "#{repo["owner"]}/#{repo["slug"]}", "https://bitbucket.org/#{repo["owner"]}/#{repo["slug"]}", target: "_blank"
        %td.import-target
          = "#{repo["owner"]}/#{repo["slug"]}"
        %td.import-actions.job-status
          = button_tag "导入", class: "btn js-add-to-import"
    - @incompatible_repos.each do |repo|
      %tr{id: "repo_#{repo["owner"]}___#{repo["slug"]}"}
        %td
          = link_to "#{repo["owner"]}/#{repo["slug"]}", "https://bitbucket.org/#{repo["owner"]}/#{repo["slug"]}", target: "_blank"
        %td.import-target
        %td.import-actions-job-status
          = label_tag "不兼容项目", nil, class: "label label-danger"

- if @incompatible_repos.any?
  %p
    一个或多个 Bitbucket 项目无法直接导入到 GitLab，
    因为其使用 Subversion 或 Mercurial 版本控制，
    而不是 Git。请转换
    = link_to "它们为 Git，", "https://www.atlassian.com/git/tutorials/migrating-overview"
    然后重新
    = link_to "导入", status_import_bitbucket_path, "data-no-turbolink" => "true"
    。


:coffeescript
  new ImporterStatus("#{jobs_import_bitbucket_path}", "#{import_bitbucket_path}")
