= form_for [@project.namespace.becomes(Namespace), @project, @page], method: @page.persisted? ? :put : :post, html: { class: 'form-horizontal wiki-form gfm-form' } do |f|
  -if @page.errors.any?
    #error_explanation
      .alert.alert-danger
        - @page.errors.full_messages.each do |msg|
          %p= msg

  = f.hidden_field :title, value: @page.title
  .form-group
    = f.label :format, '格式', class: 'control-label'
    .col-sm-10
      = f.select :format, options_for_select(ProjectWiki::MARKUPS, {selected: @page.format}), {}, class: "form-control"

  .row
    .col-sm-offset-2.col-sm-10
      %p.cgray
        链接到（新）页面只需要输入
        %code [链接标题](page-slug)
        \.

  .form-group.wiki-content
    = f.label :content, '内容', class: 'control-label'
    .col-sm-10
      = render layout: 'projects/md_preview', locals: { preview_class: "md-preview" } do
        = render 'projects/zen', f: f, attr: :content, classes: 'description form-control js-quick-submit'
        .col-sm-12.hint
          .pull-left 维基内容被解析为 #{link_to "GitLab 特色 Markdown", help_page_path("markdown", "markdown"), target: '_blank'} 格式
          .pull-right 可以拖放或#{link_to "选择文件", '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。

      .clearfix
      .error-alert
  .form-group
    = f.label :commit_message, '提交信息', class: 'control-label'
    .col-sm-10= f.text_field :message, class: 'form-control', rows: 18

  .form-actions
    - if @page && @page.persisted?
      = f.submit '保存修改', class: "btn-save btn"
      = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, @page), class: "btn btn-cancel"
    - else
      = f.submit '创建页面', class: "btn-create btn"
      = link_to "取消", namespace_project_wiki_path(@project.namespace, @project, :home), class: "btn btn-cancel"
