- page_title @page.title.capitalize, "维基"
= render "header_title"

= render 'nav'

.gray-content-block
  = render 'main_links'
  %h3.page-title
    = @page.title.capitalize

  .wiki-last-edit-by
    由 #{@page.commit.author.name} 在#{time_ago_with_tooltip(@page.commit.authored_date)}最后编辑

- if @page.historical?
  .warning_message
    这是本页面的旧版本。
    可以查看#{link_to "最近修改版本", namespace_project_wiki_path(@project.namespace, @project, @page)}或浏览#{link_to "历史记录", namespace_project_wiki_history_path(@project.namespace, @project, @page)}。


.wiki-holder.prepend-top-default
  .wiki
    = preserve do
      = render_wiki_content(@page)

.gray-content-block.footer-block
  .wiki-last-edit-by
    由 #{@page.commit.author.name} 在#{time_ago_with_tooltip(@page.commit.authored_date)}最后编辑

