%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone.milestones.first) }
  .row
    .col-sm-6
      %strong
        = link_to_gfm truncate(milestone.title, length: 100), group_milestone_path(@group, milestone.safe_title, title: milestone.title)
    .col-sm-6
      .pull-right.light #{milestone.percent_complete}% 完成
  .row
    .col-sm-6
      = link_to issues_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.issue_count, '个问题', '个问题'
      &middot;
      = link_to merge_requests_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.merge_requests_count, '个合并请求', '个合并请求'
    .col-sm-6
      = milestone_progress_bar(milestone)
  .row
    .col-sm-6
      %div
        - milestone.milestones.each do |milestone|
          = link_to milestone_path(milestone) do
            %span.label.label-gray
              = milestone.project.name
    .col-sm-6
      - if can?(current_user, :admin_group, @group)
        - if milestone.closed?
          = link_to '重新打开里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-xs btn-grouped btn-reopen"
        - else
          = link_to '关闭里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-xs btn-close"
