- page_title "里程碑"
- header_title group_title(@group, "里程碑", group_milestones_path(@group))

= render 'shared/milestones_filter'
.gray-content-block
  只有来自
  %strong #{@group.name}
  群组的里程碑显示在这里。
.milestones
  %ul.content-list
    - if @group_milestones.blank?
      %li
        .nothing-here-block 没有里程碑显示
    - else
      - @group_milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @group_milestones, theme: "gitlab"
