- empty_repo = @project.empty_repo?
.project-home-panel.clearfix{:class => ("empty-project" if empty_repo)}
  .project-identicon-holder
    = project_icon(@project, alt: '', class: 'project-avatar avatar s90')
  .project-home-desc
    %h1= @project.name
    - if @project.description.present?
      = markdown(@project.description, pipeline: :description)

    - if forked_from_project = @project.forked_from_project
      %p
        派生自
        = link_to project_path(forked_from_project) do
          = forked_from_project.namespace.try(:name)



  .project-repo-buttons
    .split-one
      = render 'projects/buttons/star'

      - unless empty_repo
        = render 'projects/buttons/fork'
    
    = render "shared/clone_panel"
    .split-repo-buttons 
      - unless empty_repo
        - if can? current_user, :download_code, @project
          = link_to archive_namespace_project_repository_path(@project.namespace, @project, ref: @ref, format: 'zip'), class: 'btn', rel: 'nofollow' do
            = icon('download fw')
            
      = render 'projects/buttons/dropdown'
    = render 'projects/buttons/notifications'
    
