- commit = @repository.commit(tag.target)
%li
  %div
    = link_to namespace_project_commits_path(@project.namespace, @project, tag.name), class: "" do
      %strong
        %i.fa.fa-tag
        = tag.name
    - if tag.message.present?
      &nbsp;
      = strip_gpg_signature(tag.message)
    .controls
      - if can? current_user, :download_code, @project
        = render 'projects/repositories/download_archive', ref: tag.name, btn_class: 'btn-grouped btn-group-xs'
      - if can?(current_user, :admin_project, @project)
        = link_to namespace_project_tag_path(@project.namespace, @project, tag.name), class: 'btn btn-xs btn-remove remove-row grouped', method: :delete, data: { confirm: '删除标签无法恢复，确定要继续么？'}, remote: true do
          %i.fa.fa-trash-o

  - if commit
    = render 'projects/branches/commit', commit: commit, project: @project
  - else
    %p
      无法找到该标签的 HEAD 提交
