- content_for :header do
  %h1{style: "background: #38CF5B; color: #FFF; font: normal 20px Helvetica, Arial, sans-serif; margin: 0; padding: 5px 10px; line-height: 32px; font-size: 16px;"}
    GitLab CI (构建成功)

%h3
  项目：
  = link_to ci_project_url(@project) do
    = @project.name

%p
  提交链接：#{gitlab_commit_link(@project, @build.commit.short_sha)}
%p
  作者：#{@build.commit.git_author_name}
%p
  分支：#{@build.ref}
%p
  信息：#{@build.commit.git_commit_message}

%p
  链接：#{link_to @build.short_sha, namespace_project_build_url(@build.gl_project.namespace, @build.gl_project, @build)}
