- page_title "登入"
%div
  - if signin_enabled? || ldap_enabled?
    = render 'devise/shared/signin_box'

  -# Omniauth fits between signin/ldap signin and signup and does not have a surrounding box
  - if Gitlab.config.omniauth.enabled && devise_mapping.omniauthable?
    .clearfix.prepend-top-20
      = render 'devise/shared/omniauth_box'

  -# Signup only makes sense if you can also sign-in
  - if signin_enabled? && signup_enabled?
    .prepend-top-20
      = render 'devise/shared/signup_box'

  -# Show a message if none of the mechanisms above are enabled
  - if !signin_enabled? && !ldap_enabled? && !(Gitlab.config.omniauth.enabled && devise_mapping.omniauthable?)
    %div
      没有配置任何认证方式。
