%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone) }
  .row
    .col-sm-6
      %strong
        = link_to_gfm truncate(milestone.title, length: 100), namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone)

    .col-sm-6
      .pull-right.light #{milestone.percent_complete}% 完成
  .row
    .col-sm-6
      = link_to namespace_project_issues_path(milestone.project.namespace, milestone.project, milestone_title: milestone.title) do
        = pluralize milestone.issues.count, '个问题', '个问题'
      &middot;
      = link_to namespace_project_merge_requests_path(milestone.project.namespace, milestone.project, milestone_title: milestone.title) do
        = pluralize milestone.merge_requests.count, '个合并请求', '个合并请求'
    .col-sm-6
      = milestone_progress_bar(milestone)

  .row
    .col-sm-6
      - if milestone.expired? and not milestone.closed?
        %span.cred (过期)
      - if milestone.expires_at
        %span
          = milestone.expires_at
    .col-sm-6
      - if can?(current_user, :admin_milestone, milestone.project) and milestone.active?
        = link_to edit_namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone), class: "btn btn-xs edit-milestone-link btn-grouped" do
          %i.fa.fa-pencil-square-o
          编辑
        = link_to '关闭里程碑', namespace_project_milestone_path(@project.namespace, @project, milestone, milestone: {state_event: :close }), method: :put, remote: true, class: "btn btn-xs btn-close"
        = link_to namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone), data: { confirm: '确定要继续么？' }, method: :delete, class: "btn btn-xs btn-remove" do
          %i.fa.fa-trash-o
          删除
