- page_title "里程碑"
= render "header_title"
= render 'shared/milestones_filter'

.gray-content-block
  .pull-right
    - if can? current_user, :admin_milestone, @project
      = link_to new_namespace_project_milestone_path(@project.namespace, @project), class: "pull-right btn btn-new", title: "新里程碑" do
        %i.fa.fa-plus
        新里程碑
  .oneline
    里程碑可以让你分组问题并为其设置截止日期

.milestones
  %ul.content-list
    = render @milestones

    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑

  = paginate @milestones, theme: "gitlab"
