- page_title "标记"
= render "header_title"

.gray-content-block.top-block
  - if can? current_user, :admin_label, @project
    = link_to new_namespace_project_label_path(@project.namespace, @project), class: "pull-right btn btn-new" do
      新标记
  .oneline
    标记可应用于问题和合并请求。

.labels
  - if @labels.present?
    %ul.content-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      - if can? current_user, :admin_label, @project
        .nothing-here-block 创建第一个标记或者#{link_to '生成', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}默认标记组
      - else
        .nothing-here-block 没有标记被创建
