.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action_name}
    = event_action_name(event)

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

- if !event.project.private? && twitter_sharing_enabled?
  .event-body{"data-user-is" => event.author_id}
    .event-note
      .md
        %p
          恭喜！为什么不把你的成就分享给世界呢？

          %a.twitter-share-button{ |
            href: "https://twitter.com/share", |
            "data-url" => event.project.web_url, |
            "data-text" => "I just #{event.action_name} a new project on GitLab! GitLab is version control on your server.", |
            "data-size" => "medium", |
            "data-related" => "gitlab", |
            "data-hashtags" => "gitlab", |
            "data-count" => "none"}
            Tweet
          %script{src: "//platform.twitter.com/widgets.js"}
