.search-result-row
  %h4
    = link_to [issue.project.namespace.becomes(Namespace), issue.project, issue] do
      %span.term.str-truncated= issue.title
    .pull-right ##{issue.iid}
  - if issue.description.present?
    .description.term
      = preserve do
        = search_md_sanitize(markdown(issue.description))
  %span.light
    #{issue.project.name_with_namespace}
  - if issue.closed?
    .pull-right
      %span.label.label-danger 已关闭
