- page_title "合并请求"
= render "header_title"

= render 'projects/last_push'
.project-issuable-filter
  .controls
    = render 'shared/issuable/search_form', path: namespace_project_merge_requests_path(@project.namespace, @project)

    - if can? current_user, :create_merge_request, @project
      .pull-left.hidden-xs
        = link_to new_namespace_project_merge_request_path(@project.namespace, @project), class: "btn btn-new", title: "新合并请求" do
          %i.fa.fa-plus
          新合并请求
  = render 'shared/issuable/filter', type: :merge_requests
.merge-requests-holder
  = render 'merge_requests'
