%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :css
    img {
      max-width: 100%;
      height: auto;
    }
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }
    pre.commit-message {
      white-space: pre-wrap;
    }
    .file-stats a {
      text-decoration: none;
    }
    .file-stats .new-file {
      color: #090;
    }
    .file-stats .deleted-file {
      color: #B00;
    }
  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            直接回复此邮件或
            #{link_to "在 GitLab 上查看", @target_url}.
          - else
            #{link_to "在 GitLab 上查看", @target_url}
          %br
          因为你在 #{link_to Gitlab.config.gitlab.host, root_url} 拥有账号，所以会收到此通知。
          如果你不喜欢接受此类通知邮件，你可以在通知设置中调整设置。

          = email_action @target_url
